/* Galeria de Trabalhos Realizados */
#trabalhos {
    padding: 50px 0;
    background-color: #f9f9f9;
}

#trabalhos h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-item {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra permanente */
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: translateY(-5px); /* Elevação ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}

.gallery-item p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
}

/* Seção de Avaliações */
#avaliacoes {
    padding: 50px 0;
    background-color: #f9f9f9;
}

#avaliacoes h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.avaliacoes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.avaliacao-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra permanente nas caixas de avaliação */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.avaliacao-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
    transform: translateY(-5px); /* Efeito de leve elevação ao passar o mouse */
}

.avaliacao-item p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.avaliacao-item .author {
    font-weight: bold;
    color: #007bff;
}

/* Estilos do Header */
header {
    background-color: rgba(0, 0, 0, 0.6); /* Fundo translúcido para sobrepor na imagem do hero */
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Estilos do Hero */
.hero {
    position: relative;
    background: url('../img/tubes-2672187_1280.jpg');
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.hero a.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero a.btn-primary:hover {
    background-color: #0056b3;
}

